<mat-toolbar class="footer" color="primary">
  <div class="centered">
    <img src="http://s3.amazonaws.com/NRNArt/The-Orb--No-Sounds-Are-Out-Of-Bounds-album-cover.jpg" alt="">
    <mat-icon>play_arrow</mat-icon>
    <span>00:00</span>
    <mat-slider min="0" max=""></mat-slider>
    <span>03:35</span>
    <mat-icon>skip_previous</mat-icon>
    <mat-icon>stop</mat-icon>
    <mat-icon>skip_next</mat-icon>
    <mat-icon>shuffle</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>playlist_add</mat-icon>
  </div>
</mat-toolbar>