.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.centered {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 100%;
  width: 64px;
}

.centered .mat-icon {
  font-size: 1.3em;
  text-shadow: 2px 2px rgb(34, 34, 34);
}

.mat-slider {
  width: 60%;
}

.mat-icon:hover {
  color: orangered;
  cursor: pointer;
}