<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <div class="side-menu">
      <!-- These are just for testing .. didn't decidet yet what links will be in here -->
      <!-- <mat-icon>search</mat-icon> -->
      <mat-icon routerLink="tracks">headset</mat-icon>
      <mat-icon routerLink="genres">list_alt</mat-icon>
      <mat-icon routerLink="playlists">playlist_play</mat-icon>
      <mat-icon routerLink="settings">settings</mat-icon>
      <mat-icon [matMenuTriggerFor]="menu">power_settings_new</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="login" *ngIf="!loginService.isLoggedIn()">Login</button>
        <!-- <button mat-menu-item routerLink="register">Register</button> -->
        <button mat-menu-item (click)="logOut()" *ngIf="loginService.isLoggedIn()">Logout</button>
      </mat-menu>
    </div>
    
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="brand">LOLify</span>
        <span class="spacer"></span>
        
      </mat-toolbar-row>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </div>
  <app-player *ngIf="loginService.isLoggedIn()"></app-player>
</mat-drawer-container>

