<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <div class="side-menu">
      <!-- These are just for testing .. didn't decidet yet what links will be in here -->
      <mat-icon>search</mat-icon>
      <mat-icon>headset</mat-icon>
      <mat-icon>playlist_play</mat-icon>
      <mat-icon>settings</mat-icon>
    </div>
    
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="brand">LOLify</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login">Login</button>
          <button mat-menu-item routerLink="/register">Register</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </div>
<app-player></app-player>
</mat-drawer-container>

