<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form 
      [formGroup]="loginForm" 
      (ngSubmit)="loginForm.valid && onLoginSubmit()" 
      novalidate>
      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input 
          id="email" 
          matInput 
          formControlName="email"  
          placeholder="Enter your email"/>
        <mat-error *ngIf="f.email.invalid">
          Please enter a <strong>valid</strong> email!
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input 
          id="password" 
          matInput 
          formControlName="password" 
          placeholder="Enter your password" 
          [type]="hide ? 'password':'text'" />
          <mat-error *ngIf="f.password.invalid">
            Password must be at least <strong>6 characters</strong> long!
          </mat-error>
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>

      <button 
            mat-button 
            type="submit" 
            class="mat-raised-button mat-primary"
            (click)="onLoginSubmit"
            [disabled]="!loginForm.valid">Login
      </button>
      <button mat-button routerLink="/register" class="divider">Register</button>
    </form>
  </mat-card-content>
</mat-card>
